@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="overflow: hidden;">
    <h3 class="display-4" style="animation: marquee 3s linear infinite;">Welcome to Mad-By-ITs <br> Product Order MVCApp</h3>
</div>
<div class="text-center">
    <h3 class="display-4" style="animation: blinder 6s linear infinite;"> Go to Orders to find the list of orders.</h3>
</div>

<style>
    @@keyframes marquee 
    {
        from {transform: translateX(50%); }
        to {transform: translateX(-50%); }
    }

    @@keyframes blinder 
    {
        from {transform: translateY(-50%); }
        to {transform: translateY(50%); }
    }
</style>
