@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="overflow: hidden;">
    <h3 class="display-4" style="position: center;">Welcome to Mad-By-ITs <br> Product Order MVCApp</h3>
</div>